$primary: #394783;
$primary-text: #F3F2F3;
$secondary: #5d689a;
$secondary-text: #FFF;
$border-color: #d5d9e3;
$error: red;
$error-text: #FFF;
$disabled: rgb(218, 218, 218);
$disabled-text: rgb(187, 186, 186);
$background: #e7e9f3;
$font-color: #102E5A;
$grey: #b1b1b1;
$light-grey: #d2d5e3;